.position-fixed-container {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 20px;
  width: 60%;
  max-width: 600px;
  background-color: #98b1c7;
  border-radius: 10px;
}

.form-title {
  margin: 0 auto 10px;
}

label {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

input {
  width: 63%;
  background-color: #c8dbec;
  text-align: center;
  border: none;
  border-radius: 10px;
  outline: none;
}

input:focus {
  background-color: #e2effc;
}

.btn {
  margin: 25px auto 0;
  padding: 4px 10px;
  color: white;
  max-width: 300px;
  background-color: transparent;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 700;
  border: 2px solid white;
  cursor: pointer;
}

.btn:hover {
  background-color: #c8dbec;
}