@import 'src/config/variables.scss';

header {
  display: flex;
  background-color: $primary-color;
  justify-content: space-between;

  .buttons {
    padding: 20px;
  }
  a {
    margin-left: 10px;
    padding: 4px 10px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 0.9em;
    text-decoration: none;
    border: 2px solid white;
    cursor: pointer;
  }
  a:hover {
    background-color: $secondary-color;
  }

  .active {
    background-color: $secondary-color;
  }

  .admin {
    display: flex;
    align-items: center;

    a {
      margin-right: 10px;
    }
  }
} 