@import 'src/config/variables.scss';

.user {
  margin: 8px;
  width: calc(33% - 16px);
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;

  .user-link {
    display: block;
    padding: 20px 0;
    width: 100%;
    color: #000;
    text-decoration: none;

    img {
      width: 20%;
    }

    .name {
      font-weight: bold;
    }
  }


}

.user:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .user {
    min-width: 200px;
  }
}