.CurrentProducts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  width: 60%;

  li {
    width: 48%;
  }

  .info {
    text-align: center;
    background-color: rgba(255, 37, 37, 0.6);
  }
}

@media (max-width: 767px) {
  .CurrentProducts {
    flex-direction: column;
    width: 90%;

    li {
      width: 98%;
    }
  }
}