@import 'src/config/variables.scss';

.News {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;

    h3 {
      font-size: 23px;
    }
  }

  button {
    align-self: flex-end;
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
  }

  button:hover {
    background-color: $secondary-color;
    transform: scale(1.1);
  }
}

@media (max-width: 767px) {
  .News {
    button {
      width: 100px;
    }

    button:hover {
      background-color: transparent;
      transform: none;
    }
  }
}