.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .greeting {
    margin-bottom: 10px;
  }

  .photo {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    height: calc(100vh - 170px);
    background-image: url("main-img.jpg");
    background-position: revert;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .Home {

    .greeting {
      font-size: 13px;
    }

    .photo {
      height: calc(100vh - 268px);
    }
  }
}