.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 130px);

  .greeting {
    margin-bottom: 10px;
  }

  .photo {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    height: 500px;
    background-image: url("main-img.jpg");
    background-position: revert;
    background-size: cover;
  }
}