@import 'src/config/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .content {
    margin: 10px;
    min-height: calc(100vh - 79px);

    .DeleteUser {
      text-align: right;
      margin-top: -50px;
      margin-bottom: 20px;

      button {
        margin-right: 15px;
        padding: 5px 10px;
        background-color: #ff252599;
        border: 1px solid;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.2s;
      }

      button:hover {
        transform: scale(1.1);
      }
    }
  }
}